## Problem 1 - Basic statistics of the data (*2 points*)

In this problem your task is to open and explore a NOAA weather data file using Pandas. The data file name is `6153237444115dat.csv` and it is located in the `data` folder in this repository. 

**Notice**: Please use the proposed variable names in your solutions. The exercises are graded automatically, and the automatic tessts might otherwise fail unnecessarily. Also, please do not copy/paste existing code cells. You can add cells if you like using the `+` sign at the top of the notebook, but copying and pasting can cause the automatic tests to fail.

**Your score on this problem will be based on following criteria:**

- Importing the Pandas module
- Reading the data using Pandas into a variable called `data`
- Calculating a number of values from the data file used in this problem
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

### Part 1 (*0.5 points*)

Your first task is to import Pandas and read in the data file.

- Import the Pandas module
- Read the data into a variable called `data` using Pandas 

**Hint**: When reading the data, you need to consider a couple of things:

- Note that the input file is located in the `data` folder, and you need to consider this in the filepath when reading the file to Pandas
- No-data values are specified with varying number of `*` characters in the input file. You can tell this to Pandas by specifying a following parameter in the Pandas `read_csv()` function: `na_values=['*', '**', '***', '****', '*****', '******']`

In [19]:
data = None

# YOUR CODE HERE
import pandas as pd

filename = r'~/sara/ex2/exercise-5-skhaji/data/6153237444115dat.csv'

data = pd.read_csv(filename, na_values=['*', '**', '***', '****', '*****', '******'])

data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174.0,10.0,14.0,NaN,NaN,NaN,NaN,...,1009.2,NaN,984.1,NaN,NaN,NaN,NaN,NaN,NaN,35.0
1,28450,99999,201705010020,180.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28450,99999,201705010050,190.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28450,99999,201705010100,188.0,12.0,16.0,NaN,NaN,NaN,NaN,...,1009.1,NaN,984.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0
4,28450,99999,201705010120,200.0,13.0,NaN,2.0,OBS,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Check that the first rows of the DataFrame look ok:

In [17]:
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174.0,10.0,14.0,NaN,NaN,NaN,NaN,...,1009.2,NaN,984.1,NaN,NaN,NaN,NaN,NaN,NaN,35.0
1,28450,99999,201705010020,180.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28450,99999,201705010050,190.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28450,99999,201705010100,188.0,12.0,16.0,NaN,NaN,NaN,NaN,...,1009.1,NaN,984.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0
4,28450,99999,201705010120,200.0,13.0,NaN,2.0,OBS,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Part 2 (*0.5 points*)   

In the cell below, fill in the variables values to print answers to these questions:

- How many rows is there in the data (variable `rows`)?
- What are the column names (variable `column_names`)?
- What are the datatypes of the columns (variable `column_datatypes`)?

In [35]:
row_count = None
column_names = None
column_datatypes = None

# YOUR CODE HERE
row_count = len(data)
column_names = data.columns.values
column_datatypes = data.dtypes
row_count
column_names
column_datatypes

USAF              int64
WBAN              int64
YR--MODAHRMN      int64
DIR             float64
SPD             float64
GUS             float64
CLG             float64
SKC              object
L               float64
M               float64
H               float64
VSB             float64
MW              float64
MW.1            float64
MW.2            float64
MW.3            float64
AW              float64
AW.1            float64
AW.2            float64
AW.3            float64
W               float64
TEMP            float64
DEWP            float64
SLP             float64
ALT             float64
STP             float64
MAX             float64
MIN             float64
PCP01           float64
PCP06           float64
PCP24           float64
PCPXX           float64
SD              float64
dtype: object

In [36]:
# Print the number of rows in the dataframe:
print("There are " + str(row_count) + " rows")

There are 11694 rows

In [37]:
# Print the column names:
print("The columns are: \n", column_names)

The columns are:
 ['USAF' 'WBAN' 'YR--MODAHRMN' 'DIR' 'SPD' 'GUS' 'CLG' 'SKC' 'L' 'M' 'H'
 'VSB' 'MW' 'MW.1' 'MW.2' 'MW.3' 'AW' 'AW.1' 'AW.2' 'AW.3' 'W' 'TEMP'
 'DEWP' 'SLP' 'ALT' 'STP' 'MAX' 'MIN' 'PCP01' 'PCP06' 'PCP24' 'PCPXX' 'SD']

In [38]:
# Print the column datatypes:
print("The column types are: \n", column_datatypes)

The column types are:
 USAF              int64
WBAN              int64
YR--MODAHRMN      int64
DIR             float64
SPD             float64
GUS             float64
CLG             float64
SKC              object
L               float64
M               float64
H               float64
VSB             float64
MW              float64
MW.1            float64
MW.2            float64
MW.3            float64
AW              float64
AW.1            float64
AW.2            float64
AW.3            float64
W               float64
TEMP            float64
DEWP            float64
SLP             float64
ALT             float64
STP             float64
MAX             float64
MIN             float64
PCP01           float64
PCP06           float64
PCP24           float64
PCPXX           float64
SD              float64
dtype: object

### Part 3 (*1 point*)   

In the cell below, fill in the variables values to print answers to these questions:

- What is the mean Fahrenheit temperature in the data (`temp_mean` variable calculated from the `TEMP` column)?
- What is the standard deviation of the Maximum temperature (`temp_max_std` variable calculated from the `MAX` column)?
- How many unique stations exists in the data (`station_count` variable calcualted from the `USAF` column)?

In [44]:
# Calculate mean temperature
temp_mean = None

# Calculate standard deviaton of the maximum temperature:
temp_max_std = None

#Calculate number of unique stations:
station_count = None

# YOUR CODE HERE
temp_mean = data["TEMP"].mean()
print(temp_mean)

temp_max_std = data["MAX"].std()
print(temp_max_std)

station_count = len(data['USAF'].unique())
print(station_count)

52.24796852279531
10.307989094641968
2

In [45]:
# Check mean temperature value
print("The mean temperature in Fahrenheit is ", round(temp_mean,1))

The mean temperature in Fahrenheit is  52.2

In [46]:
# Check standard deviation value
print("The standard deviation of maximum temperature is ", round(temp_max_std, 1))

The standard deviation of maximum temperature is  10.3

In [47]:
# Check number of stations value
print("The number of unique stations is ", station_count)

The number of unique stations is  2

### Problem 1 summary


- Did you have any problems with Problem 1?

Also, make sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

Please write your answers and comments below (**activate the cell by double clicking**):

YOUR ANSWER HERE

### On to Problem 2

Now you can continue to [Problem 2: Data manipulation and selection](Exercise-5-problem-2.ipynb)