## Problem 3 - Data analysis (*4 points*)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic Pandas functions. Please perform the tasks below by writing your code into the codeblocks in each section.

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Helsinki Kumpula and Rovaniemi for the summer of 2017
- Selecting temperatures for May and June 2017 in separate dataframes for each location
- Printing out some summary values for each month (May, June) and location (Kumpula, Rovaniemi)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 (*0 points*)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `kumpula` and `rovaniemi`

In [26]:
kumpula = None
rovaniemi = None

import pandas as pd

# YOUR CODE HERE
k_file = r'exercise-5-skhaji/data/Kumpula_temps_May_Aug_2017.csv'
r_file = r'exercise-5-skhaji/data/Rovaniemi_temps_May_Aug_2017.csv'

kumpula = pd.read_csv(k_file)
rovaniemi = pd.read_csv(r_file)

kumpula.dtypes

USAF              int64
YR--MODAHRMN      int64
TEMP            float64
MAX             float64
MIN             float64
Celsius         float64
dtype: object

In [27]:
print(kumpula.head())
print('')
print(rovaniemi.head())

    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  29980  201705010000  37.0  NaN  NaN     2.78
1  29980  201705010100  37.0  NaN  NaN     2.78
2  29980  201705010200  37.0  NaN  NaN     2.78
3  29980  201705010300  37.0  NaN  NaN     2.78
4  29980  201705010400  39.0  NaN  NaN     3.89

    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450  201705010000  31.0  NaN  NaN    -0.56
1  28450  201705010020  30.0  NaN  NaN    -1.11
2  28450  201705010050  30.0  NaN  NaN    -1.11
3  28450  201705010100  31.0  NaN  NaN    -0.56
4  28450  201705010120  30.0  NaN  NaN    -1.11

### Part 2 (*1 points*)

Next you can find some median temperature values for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Helsinki Kumpula? (store the answer in a variable `kumpula_median`)
    - Rovaniemi? (store the answer in a variable `rovaniemi_median`)

In [10]:
kumpula_median = None
rovaniemi_median = None

# YOUR CODE HERE
kumpula_median = kumpula["Celsius"].median()
rovaniemi_median = rovaniemi["Celsius"].median()

In [11]:
# Prints the median temperatures
print("Kumpula median: ", kumpula_median)
print("Rovaniemi median: ", rovaniemi_median)

Kumpula median:  14.44
Rovaniemi median:  11.11

### Part 3 (*2 points*)

The median temperatures above consider data from the entire summer (May-Aug), hence the differences might not be so clear. Let's now find out the mean temperatures from May and June 2017 in Kumpula and Rovaniemi.

- From the `kumpula` and `rovaniemi` DataFrames, select the rows where values of the `YR--MODAHRMN` column are from May 2017
    - Assign these selected rows into the variables `kumpula_may` and `rovaniemi_may` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of June and assign those values into variables to `kumpula_june` and `rovaniemi_june`

In [45]:
# Select the subset of the Kumpula and Rovaniemi data for the 5th and 6th month
kumpula_may = None
rovaniemi_may = None

kumpula_june = None
rovaniemi_june = None

# YOUR CODE HERE
#kumpula["MONTH"] = kumpula["YR--MODAHRMN"]
#kumpula["MONTH"] = string[str(kumpula["YR--MODAHRMN"]), 0, 5]
kumpula_may = kumpula.loc[(kumpula["YR--MODAHRMN"] >= 201705010000) & (kumpula["YR--MODAHRMN"] < 201706010000)]
rovaniemi_may = rovaniemi.loc[(rovaniemi["YR--MODAHRMN"] >= 201705010000) & (rovaniemi["YR--MODAHRMN"] < 201706010000)]

kumpula_june = kumpula.loc[(kumpula["YR--MODAHRMN"] >= 201706010000) & (kumpula["YR--MODAHRMN"] < 201707010000)]
rovaniemi_june = rovaniemi.loc[(rovaniemi["YR--MODAHRMN"] >= 201706010000) & (rovaniemi["YR--MODAHRMN"] < 201707010000)]

Check that the subsets look ok:

In [46]:
print("First values in May, Kumpula:\n", kumpula_may.head())
print("\nLast values in May, Kumpula:\n", kumpula_may.tail())

First values in May, Kumpula:
     USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius  MONTH
0  29980  201705010000  37.0  NaN  NaN     2.78    NaN
1  29980  201705010100  37.0  NaN  NaN     2.78    NaN
2  29980  201705010200  37.0  NaN  NaN     2.78    NaN
3  29980  201705010300  37.0  NaN  NaN     2.78    NaN
4  29980  201705010400  39.0  NaN  NaN     3.89    NaN

Last values in May, Kumpula:
       USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius  MONTH
736  29980  201705311900  51.0  NaN  NaN    10.56    NaN
737  29980  201705312000  50.0  NaN  NaN    10.00    NaN
738  29980  201705312100  47.0  NaN  NaN     8.33    NaN
739  29980  201705312200  44.0  NaN  NaN     6.67    NaN
740  29980  201705312300  43.0  NaN  NaN     6.11    NaN

In [47]:
print("First values in June, Kumpula:\n", kumpula_june.head())
print("\nLast values in June, Kumpula:\n", kumpula_june.tail())

First values in June, Kumpula:
       USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius  MONTH
741  29980  201706010000  42.0  NaN  NaN     5.56    NaN
742  29980  201706010100  40.0  NaN  NaN     4.44    NaN
743  29980  201706010200  40.0  NaN  NaN     4.44    NaN
744  29980  201706010300  41.0  NaN  NaN     5.00    NaN
745  29980  201706010400  44.0  NaN  NaN     6.67    NaN

Last values in June, Kumpula:
        USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius  MONTH
1450  29980  201706301900  65.0  NaN  NaN    18.33    NaN
1451  29980  201706302000  61.0  NaN  NaN    16.11    NaN
1452  29980  201706302100  63.0  NaN  NaN    17.22    NaN
1453  29980  201706302200  62.0  NaN  NaN    16.67    NaN
1454  29980  201706302300  61.0  NaN  NaN    16.11    NaN

In [48]:
print("First values in May, Rovaniemi:\n", rovaniemi_may.head())
print("\nLast values in May, Rovaniemi:\n", rovaniemi_may.tail())

First values in May, Rovaniemi:
     USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450  201705010000  31.0  NaN  NaN    -0.56
1  28450  201705010020  30.0  NaN  NaN    -1.11
2  28450  201705010050  30.0  NaN  NaN    -1.11
3  28450  201705010100  31.0  NaN  NaN    -0.56
4  28450  201705010120  30.0  NaN  NaN    -1.11

Last values in May, Rovaniemi:
        USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
2215  28450  201705312220  32.0  NaN  NaN     0.00
2216  28450  201705312250  32.0  NaN  NaN     0.00
2217  28450  201705312300  33.0  NaN  NaN     0.56
2218  28450  201705312320  32.0  NaN  NaN     0.00
2219  28450  201705312350  30.0  NaN  NaN    -1.11

In [49]:
print("First values in June, Rovaniemi:\n", rovaniemi_june.head())
print("\nLast values in June, Rovaniemi:\n", rovaniemi_june.tail())

First values in June, Rovaniemi:
        USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
2220  28450  201706010000  32.0  NaN  NaN     0.00
2221  28450  201706010020  30.0  NaN  NaN    -1.11
2222  28450  201706010050  30.0  NaN  NaN    -1.11
2223  28450  201706010100  31.0  NaN  NaN    -0.56
2224  28450  201706010120  30.0  NaN  NaN    -1.11

Last values in June, Rovaniemi:
        USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
4342  28450  201706302220  57.0  NaN  NaN    13.89
4343  28450  201706302250  57.0  NaN  NaN    13.89
4344  28450  201706302300  56.0  NaN  NaN    13.33
4345  28450  201706302320  57.0  NaN  NaN    13.89
4346  28450  201706302350  57.0  NaN  NaN    13.89

### Part 4 (*1 point*)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in May and June using the new subset dataframes (`kumpula_may`, `rovaniemi_may`, `kumpula_june`, and `rovaniemi_june`).

In [63]:
# YOUR CODE HERE
print("Kumpala in May: \n",  round(kumpula_may["Celsius"].mean(), 1))
print(kumpula_may["Celsius"].min())
print(kumpula_may["Celsius"].max())

print("Kumpala in June: \n",  round(kumpula_june["Celsius"].mean(), 1))
print(kumpula_june["Celsius"].min())
print(kumpula_june["Celsius"].max())

print("Rovaniemi in may: \n",  round(rovaniemi_may["Celsius"].mean(), 1))
print(rovaniemi_may["Celsius"].min())
print(rovaniemi_may["Celsius"].max())

print("Rovaniemi in June: \n",  round(rovaniemi_june["Celsius"].mean(), 1))
print(rovaniemi_june["Celsius"].min())
print(rovaniemi_june["Celsius"].max())

Kumpala in May:
 9.76
-2.22
22.78
Kumpala in June:
 13.74
2.78
23.89
Rovaniemi in may:
 2.99
-7.22
15.0
Rovaniemi in June:
 11.02
-1.11
23.33

### Problem 3 summary

In the spirit of [knowledge discovery](http://researcher.ibm.com/researcher/view_group.php?id=144), let's briefly interpret the results of the data analysis in Problem 3. Please answer the following questions based on the data analysis results from this problem:

- Does there seem to be a large difference in temperatures between the months?
- Is Rovaniemi a much colder place than Kumpula?

Also, be sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

YOUR ANSWER HERE

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)